<h1>Einverständniserklärung</h1>
<h2>&lt;c.t.&gt; Compliant Teamwork</h2>
<br/>
<p>
Die Teilnehmer/-innen von c.t. &lt;compliant teamwork&gt; erteilen der Universität Passau die räumlich, zeitlich und inhaltlich unbeschränkten und ausschließlichen Verwertungsrechte an den gemeinsam auf der Online-Plattform erstellten Klausurlösungen. Die Rechteeinräumung erstreckt sich auf alle zum Zeitpunkt der Einräumung bekannten Nutzungsarten sowie auf die zukünftig erst bekanntwerdenden. Hierzu zählen insbesondere:
</p>
<ul>
	<li>Das Recht, die gemeinsam erstellten Klausurlösungen der Öffentlichkeit ganz oder teilweise zugänglich zu machen ("Recht der Öffentlichen Zugänglichmachung")</li>
	<li>Das Recht zur Einspeicherung der Klausurlösungen in die Website "www.ct.uni-passau.de"</li>
	<li>Das Recht, die Klausurlösungen auf Abruf von Besuchern der o.g. Website hin vervielfältigen zu lassen.</li>
	<li>Das Recht, die Klausurlösungen im Zusammenhang mit der o.g. Website auch in anderen Medien weiter zu verwerten, etwa in Rundfunk oder Fernsehen, auf CD-ROM, in Printversionen sowie auf allen möglichen Verwertungsarten für Websites.</li>
</ul>
<p>Die Rechteeinräumung umfasst sämtliche Angebotsarten für Websites, insbesondere das freie Internet, sonstige Online- und Offline-Dienste und interne Netze; sie ist insbesondere nicht auf Nutzungen im freien Internet beschränkt.</p> 
<p>Alle Rechte sind durch die Universität Passau ganz oder teilweise weiter übertragbar.</p> 
<p>Die Teilnehmer/-innen erteilen der Universität Passau die – in den Grenzen des Gesetzes unwiderrufliche – Zustimmung zur Veröffentlichung der Klausurlösungen. Dies geschieht in der Regel auf der Website "www.ct.uni-passau.de".</p>
<p>Die Universität Passau ist berechtigt, die erstellten Klausurlösungen auch ausschnittsweise zu benutzen oder zu bearbeiten. Wesentliche Bearbeitungen oder Ergänzungen sowie Übersetzungen in andere Sprachen sind nicht zulässig. Im Übrigen sind Veränderungen oder Kürzungen nur zulässig, soweit sie nicht entstellend wirken.</p> 
<p>Die Klausurlösungen werden von den Teilnehmern/-innen anonymisiert über ein individuell festgelegtes Pseudonym verfasst. Aus diesem Grund erfolgt die Urheberbenennung bei der Veröffentlichung nur auf Wunsch jedes einzelnen Miturhebers.</p>
<p style="margin-left:20px;">
O Ich bin mit der Nennung meines Klarnamens als Verfasser der Klausur bei der Veröffentlichung einverstanden. Hierzu wird die bestehende Pseudonymisierung durch das InteLeC-Zentrum der Universität Passau aufgehoben (vgl. Datenschutzerklärung).<br/>
O Ich verzichte auf die Nennung meines Klarnamens bei der Veröffentlichung der Klausur und möchte anonym bleiben.
</p>
