<h1>Einverständniserklärung</h1>
<h2>&lt;c.t.&gt; Compliant Teamwork</h2>
<br/>
<p>Die Unterzeichnenden erklären sich damit einverstanden, dass ihre Beiträge an der Veranstaltung in Bild und ggf. Ton aufgezeichnet, archiviert und in folgender Weise verwendet werden:</p>
<ul>
	<li>Öffentliche Bereitstellung im Internet über die Homepage und Server der Universität Passau</li>
	<li>Bereitstellung der Aufzeichnung im Lernmanagementsystem „ILIAS“ der Universität Passau</li>
	<li>Öffentliche Verwendung zu Präsentationszwecken im Rahmen des Forschungsprojekts</li>
	<li>Zur schriftlichen Veröffentlichung der Forschungsergebnisse in Monografien, Fachzeitschriften</li>
	<li>Bereitstellung der Aufzeichnung über öffentliche Portale und Informationskanäle der Universität Passau</li>
</ul>
<p>Sie können Ihre Einwilligung jederzeit mit Wirkung für die Zukunft mittels formlosem Schreiben widerrufen.</p>
