<h1>Einverständniserklärung</h1>
<h2>&lt;c.t.&gt; Compliant Teamwork</h2>
<br/>
<p>Die Unterzeichnenden willigen in die folgende Datenschutzvereinbarung ein. Bei der Verwendung der für das c.t.-Projekt zur Verfügung gestellten Systeme werden folgende Daten, zusätzlich denen einer gewöhnlichen Verwendung der ILIAS-Plattform, erhoben, gespeichert und verwendet:</p>
<ul>
	<li>Erhebung, Speicherung und mögliche Auswertung des Chatverlaufs zu wissenschaftlichen Zwecken.</li>
	<li>Erhebung, Speicherung und Auswertung der erstellten Klausurlösung zu wissenschaftlichen Zwecken. Hierbei wird zusätzlich ein Verlauf des Entstehungsprozesses der Klausurlösung gespeichert und ausgewertet, in welchem die konkreten Änderungen am Klausurtext auf die jeweiligen Teilnehmer zurückgeführt werden können.</li>
	<li>Erhebung, Speicherung und Auswertung des Nachkorrekturvorschlags durch das jeweilige andere Team. Hierbei wird zusätzlich ein Verlauf des Entstehungsprozesses der Nachkorrekturlösung gespeichert und ausgewertet, in welchem die konkreten Änderungen an der Korrekturlösung auf die jeweiligen Teilnehmer zurückgeführt werden können.</li>
</ul>
<p>Sie können Ihre Einwilligung jederzeit mit Wirkung für die Zukunft mittels formlosem Schreiben widerrufen. Für allgemeine Datenschutzfragen des ILIAS e-Learning-Systems verweisen wir auf die Datenschutzerklärungen des InteLeC-Zentrums und des ILIAS open source e-Learning e.V.</p>
