<h1>Einverständniserklärung</h1>
<h2>&lt;c.t.&gt; Compliant Teamwork</h2>
<br/>

<h3>I. Allgemein</h3>
<p>Die Teilnahme an c.t. &lt;compliant teamwork&gt; setzt für alle Teilnehmer/-innen voraus, dass sie in die Datenschutz- und Urheberrechtserklärung sowie in diese Nutzungsbedingungen einwilligen.</p>
<p>Jede/r Teilnehmer/-in kann sich durch die bestehende RZ-Kennung der Universität Passau über die c.t.-landing page "www.ct.uni-passau.de" auf der Plattform einloggen. Für die Geheimhaltung des Passworts ist jede/-r Teilnehmer/-in selbst verantwortlich. Eine Weitergabe des Passworts zur Verwendung durch Dritte kann zum Ausschluss der Plattform führen.</p>  
<p>Vor Beginn der erstmaligen Bearbeitung muss jede/-r Teilnehmer/-in ein Pseudonym vergeben. Dies dient der Anonymität der Nutzer/-innen und soll kreativitätsfördernd sein.</p>
<p>Der Klarname ist ausschließlich für das InteLeC-Zentrum der Universität erkennbar und kann weder von c.t.-Tutoren noch anderen Dritten eingesehen werden.</p> 
<p>Die Benutzung der Chatfunktion auf der Plattform  hat wertungsneutral, konstruktiv und sachlich zu erfolgen. Beiträge, die die Falllösung nicht voranbringen oder sachfremd sind, gehören nicht in den Chat. Gleiches gilt für beleidigende, respektlose oder gar strafrechtlich relevante Beiträge. Diese sind strengstens verboten und werden bei einem Anfangsverdacht zur Strafanzeige gebracht.</p>
<p>IT-Störungen, die den Betrieb der Plattform beeinträchtigen oder stören führen zum dauerhaften Ausschluss von der Plattform.</p>

<br/>
<h3>II. Bearbeitung</h3>
Die Klausurbearbeitungen teilen sich in 3 verschiedene Niveaustufen auf:
<p style="margin-left:20px;">
* Anfänger<br/>
** Fortgeschrittene<br/>
*** Examensniveau<br/>
</p>
<p>Eine Bearbeitungsgruppe besteht aus 5 Teilnehmern.</p>
<p>
	Die Teilnehmer/-innen von c.t. &lt;compliant teamwork&gt; verpflichten sich hiermit, die Beiträge im Rahmen
	 der virtuellen Echtzeitklausurlösung eigenständig ohne fremde Hilfe und ohne die Zuhilfenahme unzulässiger 
	 Hilfsmittel zu verfassen. Wörtlich oder sinngemäß aus fremden Quellen übernommene Inhalte sind unter Angabe der 
	 Fundstelle oder mittels Verlinkung kenntlich zu machen. Zugelassene Hilfsmittel sind ausschließlich die in der 
	 <a href="http://www.jura.uni-passau.de/fileadmin/dateien/fakultaeten/jura/pruefungen/Hilfsmittelbekanntmachung_Zwischenpruefung_Jura_Passau.pdf" target="_blank">
	 	allgemeinen Hilfsmittelbekanntmachung für die Zwischenprüfung
	 </a> 
	 angegebenen zugelassenen Hilfsmittel sowie im Übrigen die 
	 <a href="https://www.justiz.bayern.de/media/pdf/ljpa/ejs/hilfsmittelbekanntmachung_ejs.pdf" target="_blank">
	 	Hilfsmittelbekanntmachung des Bayerischen Landesjustizprüfungsamtes für die Erste Juristische Staatsprüfung in Bayern
	 </a>.
 </p> 
<p>Weitere Hilfsmittel (insb. Lehrbücher, Kommentare, Fallsammlungen oder gar juristische Online Datenbanken wie bspw. beck-online) sind unzulässig. Verstößen wie bspw. copy+paste können zum Ausschluss der Plattform führen. Die Klausurbearbeitung dieser Gruppe kann in diesem Fall nicht veröffentlicht werden.</p> 
<p>Die Bearbeitungszeit beträgt 24 Stunden und beginnt wenn alle Teilnehmer online sind und sich in Gruppen von maximal 5 Teilnehmer/-innen zusammengefunden haben.</p>
<p>Die aktive Teilnahme jedes einzelnen Gruppenmitglieds ist unmittelbare Voraussetzung für eine erfolgreiche c.t. &lt;compliant teamwork&gt; Klausur und beeinflusst positiv die gemeinschaftliche Aufgabenlösung innerhalb des Teams.</p>
<p>Jeder Teilnehmer bringt sich aktiv in die Falllösung ein.</p> 
<p>Eine Löschung der Beiträge anderer Gruppenmitglieder ist nur mit deren Zustimmung zulässig.</p>
<p>Während der Bearbeitungszeit steht jeder Gruppe die zweimalige Verwendung der sog. Eagle-Eye-Funktion zu. Hierbei handelt es sich um eine Joker-Funktion, die nur dann benutzt werden sollte, wenn die Klausurbearbeitung komplett zum Stillstand gerät. Mittels einer Nachricht kann einem Tutor eine spezielle Frage zur Klausurbearbeitung gestellt werden.</p>

<br/>
<h3>III. Regeln zur Korrektur und Fairness</h3>
<p>Nachdem die Klausurbearbeitungsphase abgeschlossen ist, beginnt unmittelbar die Klausurkorrekturphase. Hierbei tauschen jeweils zwei Gruppen ihre Bearbeitung aus und korrigieren die Klausur der jeweils anderen Gruppe.</p>
<p>Die Korrektur hat fair und unter Zugrundelegung eines objektiven Korrekturmaßstabs zu erfolgen.</p>
<p>Anmerkungen sind sachlich und mit einer ausführlichen Erklärung zu formulieren, die dem Bearbeiter die Stärken und Schwächen in der Bearbeitung aufzeigt. Persönliche oder sachfremde Kommentare sind zu unterlassen.</p>
<p>Neben der Musterlösungsskizze darf im Rahmen der Korrektur auch auf andere Hilfsmittel (insb. Lehrbücher, Kommentare, Fallsammlungen, beck-online etc.) zurückgegriffen werden.</p>
<p>Bei Unklarheiten besteht die Möglichkeit, dass sich die Korrekturgruppe  an einen Tutor wendet.</p>

<br/>
<h3>IV.	Sanktionen bei Fehlverhalten</h3>
<p>Tutoren können von Teilnehmern auf besonders inaktive oder unhöfliche Gruppenmitglieder hingewiesen werden; ein Fehlverhalten liegt insbesondere vor bei Chat-Kommentaren, die </p>
<ul>
	<li>Straftatbestände erfüllen, solche unterstützen oder dazu aufrufen</li>
	<li>Rechte Dritter verletzen, z.B. durch Beleidigung, Provokation, diskriminierende Äußerungen, Verletzung der Privatsphäre oder Verletzung vermögensrechtlicher Schutzrechte (Urheber- und Markenschutzrechte etc.)</li>
	<li>dem Zwecke der kommerziellen Werbung oder Gewerbetätigkeit dienen</li>
	<li>Meinungsäußerung über Politik, Religion und Weltanschauungen beinhalten</li>
	<li>die Infrastruktur der Website einer übermäßigen Belastung aussetzen oder auf andere Weise das problemlose Funktionieren der Website stören oder verhindern.</li>
</ul> 
<p>Ein Fehlverhalten kann auch unabhängig von einem vorigen Hinweis von den Tutoren abgemahnt werden. Bei der wiederholten Ermahnung erfolgt ein Ausschluss von der Fallbearbeitung.  Ein wiederholter Ausschluss von der Fallbearbeitung innerhalb kürzester Zeit führt zum temporären Ausschluss von c.t. &lt;compliant teamwork&gt;. Unabhängig von vorher ergangenen Ermahnungen könnten Tutoren bei besonders gravierenden Verstößen gegen das Regelwerk oder sonstigem Fehlverhalten (bspw. strafrechtlich relevante Äußerungen) direkt den Ausschluss von c.t. &lt;compliant teamwork&gt; ausgeschlossen werden.</p>
<p>Trotz der Anonymität gegenüber anderen Gruppenmitgliedern, Tutoren oder Lehrstühlen sind die c.t. Teilnehmer über ihre RZ-Kennung der Universität Passau mit Klarnamen identifizierbar. Strafrechtlich relevantes Verhalten wird unmittelbar zur Anzeige gebracht.</p>



