<h1>Einverständniserklärung</h1>
<h2>&lt;c.t.&gt; Compliant Teamwork</h2>
<br/>

<h3>Allgemein</h3>
<ul>
	<li>Die Teilnehmer müssen die Datenschutz- und Urheberrechtserklärung unterzeichnen.</li>
	<li>Jeder Teilnehmer erhält sein eigenes Passwort und damit Zugang zu seiner Gruppe. Für die Geheimhaltung ist jeder selber verantwortlich. Eine Weitergabe kann zum Ausschluss der Fallbearbeitung führen.</li>
	<li>Angepasste Verhaltensweisen trotz Teilnahme unter Pseudonymen</li>
		<ul>
			<li>Eine Re-Identifizierung anhand des Pseudonyms ist in besonderen Ausnahmefällen möglich</li>
			<li>Sachlich bleiben</li>
			<li>Kein Shitstorm gegenüber einen Teilnehmern</li>
			<li>Selber nichts unnötiges schreiben wie <i>'ich hole mir mal ne Pizza'</i></li>
			<li>Stets höflich und freundlich schreiben. Konflikte wegen der fehlenden Gestik und Mimik von Anfang an vermeiden.</li>
		</ul>
	<li>Es ist untersagt die IT-Systeme bewusst zu stören.</li>
	<li>Mit der „Eagle Eye“-Funktion kann die Gruppe zwei fachbezogene Fragen direkt an den Dozenten richten.</li>
</ul>

<h3>Bearbeitung</h3>
<ul>
	<li>Die Klausurlösung ist ohne fremde Hilfsmittel (Lehrbücher, Fallsammlungen, beck-online etc.) mit Ausnahme von Gesetzestexten zu erstellen. </li>
	<li>Jeder Teilnehmer bringt sich aktiv ein. Sollte das nicht der Fall sein, kann ein Ausschluss nach einer Abmahnung durch einen Tutor erfolgen.</li>
</ul>

<h3>Korrektur</h3>
<ul>
	<li>Anmerkungen sind sachlich und eindeutig zu formulieren.</li>
	<li>Bevor zur Musterlösung gegriffen wird, die Arbeit der anderen Gruppe selbst durcharbeiten.</li>
</ul> 
