/*
  custom css files are loaded after core css files. Simply use the same selector to override a style.
  Example:
      #editbar LI {border:1px solid #000;}
    overrides
      #editbar LI {border:1px solid #d5d5d5;}
    from pad.css
*/

/* TOC - reset numbering */ 
.toch1:before, .toch2:before, .toch3:before, .toch4:before, .toch5:before, .toch6:before {
	content: none !important;
}
.toch5 {
  margin-left: 40px !important;
}
.toch6 {
  margin-left: 50px !important;
}

/* increase font-size and line-height */
#innerdocbody {
  font-size: 1.5em !important;
  line-height: 1.6em !important; 
}

h1, h2, h3 {padding: 10px 0;}
h4, h5, h6 {padding: 5px 0;}
h1, .toch1 {font-size:1.5em !important;}
h2, .toch2 {font-size:1.4em !important;}
h3, .toch3 {font-size:1.3em !important;}
h4, .toch4 {font-size:1.2em !important;}
h5, .toch5 {font-size:1.1em !important;}
h6, .toch6 {font-size:1.0em !important;}


/*
 * ep_stats support
 */
#stats
{
	z-index:auto !important;
	position:relative !important;
	right:0px !important;
	width:100% !important;
	background-color:transparent !important;
	padding:20px 0 0 0 !important;
	top:0px !important;
}
#stats div
{
	background-color:transparent !important;
}

.statsAuthorColor
{
	background-color:transparent !important;
}