<!-- BEGIN export_view -->
	<div class="ilFormHeader">
		<h3 class="ilHeader">Sicherungsstand</h3>
		<div class="ilFormCmds"></div>
	</div>
	<div>
		{EXPORT_VIEW_TITLE}<br/>
		<small>{EXPORT_VIEW_CREATION}</small><br/>
		<a href="{EXPORT_DOWNLOAD}" target="_blank" type="button" class="btn btn-default btn-sm" id="print-button">Download</a>
	</div>
	<br/>
<!-- END export_view -->

<!-- BEGIN export_form -->
	{EXPORT_FORM}
	
	<small>* Pseudonym. Autor möchte nicht genannt werden.</small>
	<div id="screen-legend">
		<small>** Namensnennung gewünscht. Reidentifizierung auf der nächsten Seite.</small>
	</div>
<!-- END export_form -->

