<h1>"Eagle Eye" - Hilfefunktion</h1>

<p>Sie können als Team <b>{QUESTQUOTA}</b> Fragen zum Lösen der Klausur direkt an den Dozenten / die Dozentin richten (max. 500 Zeichen). Ihre Frage lässt sich nicht bearbeiten oder löschen.</p>
<p>Um doppelte Fragestellungen zu vermeiden, werden die Fragen hier allen Teammitgliedern aufgelistet.</p>

<!-- BEGIN request_for_help_block -->
	<script type="text/javascript">	
	$(document).ready(function(){
	    // placeholder
	    $("#request").attr("placeholder", "Frage...");
	    $("#request").focus();
	    $("#request").attr("maxlength","500");
	});
	</script>
	{REQUEST_FOR_HELP_FORM}
<!-- END request_for_help_block -->

<!-- // list -->
<!-- BEGIN single_requests_block -->
	{SINGLE_REQUESTS}
	{SINGLE_RESPONSE}
<!-- END single_requests_block -->
