<!-- BEGIN user_properties_block -->
	<script type="text/javascript">	
	$(document).ready(function(){
	    // dialog opener
		$( "#PrivacyPolicyMODAL_trigger" ).click(function() {
			$('#ilPrivacyPolicyMODAL').modal('show');
	    });
		$( "#IPropPolicyMODAL_trigger" ).click(function() {
			$('#ilIPropPolicyMODAL').modal('show');
	    });
		$( "#RulesMODAL_trigger" ).click(function() {
			$('#ilRulesMODAL').modal('show');
	    });
	});
	</script>
	{PrivacyPolicyMODAL}
	{IPropPolicyMODAL}
	{RulesMODAL}
	
	{USER_PROPERTIES_FORM}
<!-- END user_properties_block -->