<!-- BEGIN export_view -->
	<div class="ilFormHeader">
		<h3 class="ilHeader">Sicherungsstand</h3>
		<div class="ilFormCmds"></div>
	</div>
	<div>
		<h3>Titel: {EXPORT_VIEW_TITLE}</h3>
		<small>Datum: {EXPORT_VIEW_CREATION}</small><br/><br/>
		<a href="{EXPORT_DOWNLOADPDF}" type="button" class="btn btn-default btn-sm" id="pdf-button">Download als PDF</a>
		&nbsp;
		<a href="{EXPORT_DOWNLOADXML}" type="button" class="btn btn-default btn-sm" id="xml-button">Download als XML</a>
		&nbsp;
		<a href="{EXPORT_DOWNLOADCXML}" type="button" class="btn btn-default btn-sm" id="xml-button">Download als XML (inkl. Kommentaren)</a>
	</div>
	<br/><br/>
<!-- END export_view -->

	
<!-- BEGIN export_form -->
	{EXPORT_FORM}
	
	<small>* Pseudonym. Autor möchte nicht genannt werden.</small>
	<div id="screen-legend">
		<small>** Namensnennung gewünscht. Reidentifizierung auf der nächsten Seite.</small>
	</div>
<!-- END export_form -->

